<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
		 <link rel ="stylesheet" href="css/style.css" >
        <title>Create An Account</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
        <div ng-include="'menu.html'" ></div>
        <h1>Create An Account</h1>
        <form ng-controller="CustomerController as custCtrl", ng-submit="custCtrl.registerCustomer(customer)">
            <fieldset>
                <legend>Account Details</legend>
                <label>Username:</label><input type="text" ng-model="customer.username" required>
					 <br>
                <label>First Name:</label><input type="text" ng-model="customer.firstname" required>
					 <br>
                <label>Last Name:</label><input type="text" ng-model="customer.surname" required>
					 <br>
                <label>Email:</label><input type="email" ng-model="customer.email_address" required>
					 <br>
                <label>Address:</label><input type="text" ng-model="customer.shipping_address" required>
					 <br>
                <label>Password:</label><input type="password" ng-model="customer.password" required>
					 <br>
                <button type="submit">Create Account</button>
            </fieldset>
        </form>
    </body>
</html>
