<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
		 <link rel ="stylesheet" href="css/style.css" >
        <title>Buying Product</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller ="ShoppingCartController as cartCtrl">
            <div ng-include="'menu.html'" ></div>
        <h1>How much do you want to buy?</h1>
        <table>
            <thead>
            </thead>
            <tbody>
                <tr>
                    <td>ID:</td>
                    <td>{{cartCtrl.selectedProduct.productID}}</td>
                </tr>
                <tr>
                    <td>Name:</td>
                    <td>{{cartCtrl.selectedProduct.name}}</td>
                </tr>
                <tr>
                    <td>Description:</td>
                    <td>{{cartCtrl.selectedProduct.description}}</td>
                </tr>
                <tr>
                    <td>Price:</td>
                    <td>{{cartCtrl.selectedProduct.list_price | currency}}</td>
                </tr>
                <tr>
                    <td>Quantity Available</td>
                    <td>{{cartCtrl.selectedProduct.quantity_in_stock}}</td>
                </tr>
            </tbody>
        </table>
        <form>
            <fieldset>
                <legend>Quantity to Buy</legend>
                <label for="quantityInStock">How many?</label>
                <input required id ="quantityInStock" name="quantityInStock" type="number" onkeypress="return event.charCode >= 48" min = "1" ng-model="quantity">
                <div id="box">
					 <button id="checkout" ng-controller="ShoppingCartController as cartCtrl" ng-click="cartCtrl.addToCart(quantity)">Add to Cart</button>
					 </div>
				</fieldset>
		  </form>

    </body>
</html>
