<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
		 <link rel ="stylesheet" href="css/style.css" >
        <title>Check Out</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		  <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body>
		 <div ng-include="'menu.html'" ></div>
        <h1>Shopping Cart</h1>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody ng-controller="ShoppingCartController as cartCtrl">
            <tr data-ng-repeat="item in cartCtrl.items">
                <td>{{item.product.name}}</td>
                <td>{{item.sale_price | currency}}</td>
                <td>{{item.quantity_purchased}}</td>
                <td>{{item.getItemTotal() | currency}}</td>
            </tr>
        </tbody>
    </table>
		  <button ng-controller="ShoppingCartController as cartCtrl" ng-click="cartCtrl.checkoutCart()">Check Out Cart</button>
    </body>
</html>
