<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html ng-app="ShoppingApp">
    <head>
        <title>Sign In</title>
        <meta charset="windows-1252">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/shopping.js"></script>
    </head>
    <body ng-controller="CustomerController as custCtrl">
        <h1>Sign In</h1>
        <h2>Please sign-in to continue</h2>
        <p>{{custCtrl.signInMessage}}</p>
        <form ng-submit="custCtrl.signIn(username, password)">
            <fieldset>
                <legend>Account Details</legend>
                <input type="username" ng-model="username" required>
                <input type="password" ng-model="password" required>
                <button type="submit">Sign In</button>
            </fieldset>
            <p>If you don't have an account, please </p>
            <a href="http://localhost:8080/account.html">create one</a>
    </body>
</html>
