body {
	background-color: #FEC8D8;
	background-size: auto;
}

h1 {
	text-align: center;
	color: black;
	border-style: ridge;
	font-size: 50px;
	font-family: Georgia, cursive
}

p { 
	text-align: center;
	font-size: 30px;
	font-family: Georgia, cursive
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

table, th, td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid black;
  margin: 0 auto;
  font-size: 25px;
}

table{
	border-collapse: collapse;
    margin:auto; 
	 width: 100px;
  }

  fieldset{
	  margin: auto;
	  width: 50%;
  }
  
  
  button{
	  margin: 8px 0;
	  padding: 14px 20px;
	  border: none;
	  cursor: pointer;
	  width: 100%;
	  font-size: 25px;
  }

  legend{
	  font-size: 25px;
  }
  
  input{
	  width: 100%;
	  padding: 12px 20px;
	  margin: 8px 0;
	  display: inline-block;
	  border: 1px solid;
	  box-sizing: border-box;
	  font-family: Georgia, cursive;
	  font-size: 15px;
  }
  
  #container{
	  margin: auto;
	  width: 50%;
	  text-align: center;
  }
  
  #cat, #all{
	  display: inline-block;
	  margin-right: 10px;
	  width: auto;
	  font-size: 20px;
	  padding: 15px;
  }
  
  #menu{
	  text-align: center;
	  border: none;
	  padding: 10px 10px;
	  margin: 8px 0;
	  text-decoration: none;
	  font-size: 30px;
  }
  
  #checkout{
	  width: auto;
  }
  
  #welcome{
	  padding: 10px;
  }